body {
    background-color: blueviolet;
}

.cabecalho {
    text-align: center;
}

.login {
    background-color: white;
    height: 60vh;
    width: 70vw;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    border-radius: 2vw;
    flex-direction: column;
}

.txtf {
    width: 10vw; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin: 10px 0px;
}

.pass {
    display: flex;
    border-radius: 1vw;
    margin-right: 50vw;
    width: 25vw;
}
.us {
    display: flex;
    border-radius: 1vw;
    width: 25vw
}

.txtf {
    background-color: purple;
    width: 25vw;
    position: relative;
    border-radius: 15px;
    left: 0.3vw;
}

.txtf input {
    width: 25vw;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #6ba3ad;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.title-login {
    display: flex;
    position: relative;
    margin: 0;
    left: 12vw;
}


.btn-login {
    width: 25vw;
    padding: 16px 0px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
    background: #44a87a;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;

}

.btn-senha {
    width: 25vw;
    padding: 16px 0px;
    margin: 5px;
    
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: #44a87a;
    border-style: solid;
    border-color: #44a87a;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.botoes {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

footer {
    position: relative;
    right: 25vw;
}

.ii {
    margin-left: 7vw;
}

.paragrafo {
    position: relative;
    left: -20vw;
}

.elements {
    position: relative;
    left: 2vw;
}


img {
    position: relative;
    left: 45vw;
    display: flex;
    bottom: 31vw;
    width: 40vw;
    height: 31vw;
    border-radius: 2vw;
}